<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
  {% include head.html %}
<body>

<div class="main-header">
    <section class="main-header__logo">
        <a href="/" title="Início perifaCode">
            <img src="/assets/images/logo/perifaCode-white.png" alt="Logo do perifaCode">
        </a>
    </section>
    <section class="main-header__content">
        {% if page.header %}
            <h1>{{ page.header  }}</h1>
        {% else %}
        <h1>{ perifaCode }</h1>
        <em>A comunidade de programação da periferia!</em>
        {% endif %}
    </section>
</div>