// Mobile Font Sizes
$mobile-heading-sizes: 39.06, 31.25, 25, 20;
$mobile-subh-sizes: 31.25, 25, 20, 16;
$mobile-body1: 14px;
$mobile-body2: 12px;
$mobile-link1: $mobile-body1;
$mobile-link2: $mobile-body2;
$mobile-caption: $mobile-link2;

$heading-subh-line-height: 120%;
$body-line-height: 150%; 